
body {
  color: #212529;
}

.main {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #212529;
}

.top_adjust {
  padding: 2.5em;
}

.row {
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.port {
  border-radius: 10px;
}

h1 {
  padding-bottom: 0em;
  padding-top: .5em;
  font-size: 5em;
  text-align: center;

}

h2 {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2em;
  font-size: 4em;
}

.revs {
  padding-top: 30px;
  margin: 50px;
  font-size: 40px;
}

.ab {
  font-size: 20px;
  text-align: lem;
  margin: 50px;
}

p {
  word-wrap: normal;
  font-size: 1.5em;
  margin: inherit;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

hr {
  padding-bottom: 2em;
}

.segment {
  padding: 10em;
}

.title {
  padding: 1em;
}
.home_page {
  text-align: right;
  font-size: 2em;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
